<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyky.media">

    <!--语音tts适配Android11-->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application>
        <activity android:name=".activity.QrScanActivity" android:label="扫一扫"/>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>