<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tyky.acl">


    <application
        android:name="com.tencent.qcloud.tim.demo.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidComponentLibrary"
        tools:replace="android:allowBackup,android:icon,android:theme"
        tools:targetApi="n">

        <activity android:name=".MainActivity" android:exported="true" android:theme="@style/MySplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Bugly配置 -->
        <!-- 配置APP ID,快速使用改这个即可 -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="4ec93574ce"
            tools:node="replace" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="test-version"
            tools:node="replace" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="m-debug"
            tools:node="replace" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true"
            tools:node="replace" />

        <!--腾讯sdk中的相关参数-->
        <meta-data
            tools:node="replace"
            android:name="SDKAPPID"
            android:value="1400646775" />

        <meta-data
            tools:node="replace"
            android:name="SECRETKEY"
            android:value="350bef21480442764c97b739cf2215e94d04ee9a2fc1254871d64046a5c23fcb" />

        <!--百度地图-->
        <meta-data
            tools:node="replace"
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7v4dljw5jf18ow6Ppnx2UWV7A4Vyq42M" /> <!-- 定位服务 -->

        <!--基座版本依赖模块信息-->
        <meta-data
            tools:node="replace"
            android:name="base_library_dependency"
            android:value="filePreview,baiduface,tim,baidumap,debugger,page,hardware,listener,storage,device,share,notification,media,update" />
        <!--基座版本信息-->
        <meta-data
            tools:node="replace"
            android:name="base_library_version"
            android:value="beta版本" />
    </application>

</manifest>