<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyky.handware">

    <application>
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="4ec93574ce" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="test-version" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="m-debug" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
    </application>

    <!--    设置屏幕亮度需要此权限-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--    Bugly的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--    获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>