<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tyky.logupload">

    <application android:requestLegacyExternalStorage="true">
        <!--正式环境还是测试环境，测试环境进入展示异常的页面-->
        <meta-data android:name="is_prod_env" android:value="${IS_PROD_ENV}"/>

        <activity android:name=".activity.ErrorTipActivity" />
        <activity android:name=".activity.CrashActivity" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.tyky.logupload.CrashInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>