<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tyky.share">

    <application>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.tyky.share"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--信分享SDKapp_id-->
        <meta-data
            android:name="wechat_app_id"
            android:value="${WECHAT_APP_ID}" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.tyky.share.ShareInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

    <queries>
        <!-- 指定微信包名-->
        <package android:name="com.tencent.mm" />
    </queries>
</manifest>