<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyky.baiduSpeechRecognition">

    <application>
        <meta-data android:name="baidu_voice_ak" android:value="${BAIDU_VOICE_AK}"/>
        <meta-data android:name="baidu_voice_sk" android:value="${BAIDU_VOICE_SK}"/>
        <meta-data android:name="baidu_voice_appid" android:value="${BAIDU_VOICE_APPID}"/>
        <activity android:name=".VoiceActivity" />
    </application>

</manifest>